<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <!-- Jquery -->
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- EmailJS -->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js'></script>
    <!-- Comprar - Email -->
    <script src="comprar.js" type="module"></script>
  </head>
  <body style="padding-top: 65px;">
    <div id="app">

      <!-- BookStore NavBar -->
      <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light pink scrolling-navbar bg-info">
          <a class="navbar-brand" href="#">
            <img src="logo_bookstore.png"  height="100" class="d-inline-block align-top" alt="" />
          </a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse">
            <div class="dropdown ml-auto">
              <button class="btn btn-outline-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Logged in as: <font id="userName"> {{ user }} </font>
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" v-on:click="logout">Sign Out</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <!-- BookStore NavBar -->
      <!-- Menu de paginas -->
      <div class="d-flex flex-row p-2 bd-highlight" style="margin-top: 70px;">
        <nav class="navbar navbar-expand-lg navbar-light pink scrolling-navbar bg-info w-100 justify-content-center">
          <ul class="navbar-nav w-75">
            <li class="nav-item flex-fill text-center">
              <a class="nav-link" href="paginaPrincipal.html">Pagina Principal <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a class="nav-link" href="productos.html">Tienda</a>
            </li>
            <li class="nav-item active flex-fill text-center">
              <a class="nav-link" href="/cart">Ver Carrito</a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a class="nav-link" href="#">Contactanos</a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Menu de paginas -->
      <!-- Main Layout-->
      <div class="container" style="min-height: 300px;">
        <div class="row" style="padding-top: 40px; padding-left: 0px;">
          <div class="card" style="width: 1000px;">
            <div class="col-lg-12" style="margin-top: 10px;">
              <!-- Seccion de titulo -->
              <div>
                <h1>Carrito de Compras</h1>
                <p>Consulta tus productos en esta secci&oacute;n</p>
                <hr />
              </div>
              <!-- Seccion de titulo -->
  
              <!-- Seccion de productos -->
              <div style="min-height: 500px;">
                <div class="text-center" v-if="isLoading">
                  <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status" >
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
                <!-- Mock producto -->
                <template v-else>
                  <product-component v-for="product in products" :key="product._id" :product="product" @update-item="updateCart" @delete-item="deleteProduct"></product-component>
                </template>
                <!-- Mock producto -->
  
              </div>
              <!-- Seccion de productos -->
              <!-- Fin del carrito -->
              <div>
                <hr />
                <div class="row justify-content-end" style="padding-top: 20px; padding-bottom: 20px;">
                  <div class="col-lg-2">
                    <h3>Total:</h3>
                  </div>
                  <div class="col-lg-1 align-self-center">
                    <h6 id="totalCost"> {{ total }} </h6>
                  </div>
                  <div class="col-lg-1 align-self-center">
                    <h6>MXN</h6>
                  </div>
                </div>
                <div class="row justify-content-end" style="padding-top: 20px; padding-bottom: 20px;">
                  <div class="col-lg-2">
                    <button class="btn btn-primary" onclick="location.href='index.html'" type="button">
                      Ir a la tienda
                    </button>
                  </div>
                  <div class="col-lg-2">
                    <button class="btn btn-danger" @click="deleteAll">
                      Eliminar Todo
                    </button>
                  </div>
                  <div class="col-lg-2">
                    <button class="btn btn-success" id="btnSubmit"  type="button">
                      Comprar
                    </button>
                  </div>
                </div>
              </div>
              <!-- Fin del carrito -->
            </div>
          </div>
        </div>
      </div>
      <!--Main Layout-->
      <!-- Footer -->
      <footer class="page-footer font-small bg-info" style="margin-top: 20px;">
        <div class="footer-copyright text-center py-3">
          Equipo 4: Adrian Mancilla A01196967, Andres Carlos Barrera Basilio A00815749, Mario Alberto Ortega A01730557, Daniel Treviño Quiroga A01283132, Ruben Alejandro Lopez Charles A00819291
        </div>
      </footer>
      <!-- Footer -->
    </div>

    <!-- Product Component Template -->
    <script type="text/x-template" id="product-component-template">
      <div class="row">
        <div class="col-lg-8">
          <div  class="row">
            <div class="col-4">
              <img :src="base64data" width="150" height="200" alt="" />
            </div>
            <div class="col-8">
              <h3  id="bookName" >{{ title }}</h3>
              <p>{{ author }}</p>
              <p>{{ description }}</p>
            </div>
          </div>
        </div>
        <div class="col align-self-center">
          <h5>Cantidad</h5>
          <p>{{ quantity }}</p>
          <div class="btn-group mb-3" role="group">
            <button type="button" class="btn btn-success" @click="addItem">+</button>
            <button type="button" class="btn btn-danger" @click="subtractItem">-</button>
          </div>
        </div>
        <div class="col" style="padding-top: 10px;">
          <h5 style="padding-left: 10px;">Precio</h5>
          <div class="row" style="padding-top: 30px;">
            <div class="col-6 text-center">
              <h6>{{ cost }}</h6>
            </div>
            <div class="col-6">
              <h6>MXN</h6>
            </div>
          </div>
        </div>
      </div>
    </script>

    <!-- Vue Library CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
    <!-- Axios Library CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Vue App Script -->
    <script>
      const ProductComponent = {
        props: ['product'],
        template: '#product-component-template',
        data() {
          return {
            id: this.product._id,
            title: this.product.title,
            author: this.product.author,
            description: this.product.description,
            quantity: this.product.quantity,
            cost: this.product.cost,
            base64data: "data:image/jpeg;base64," + this.product.imgdata 
          }
        },
        methods: {
          addItem() {
            this.quantity += 1
            this.$emit('update-item', this.id, this.quantity, true)
          },
          subtractItem() {
            this.quantity -= 1
            if (this.quantity <= 0) {
              this.$emit('delete-item', this.id)
            } else {
              this.$emit('update-item', this.id, this.quantity, false)
            }
          }
        }
      }

      const app = new Vue({
        el: '#app',
        components: {
          'product-component': ProductComponent
        },
        data() {
          return {
            products: [],
            user: '',
            isLoading: true
          }
        },
        methods: {
          updateCart(productID, quantity, isBeingAdded) {
            let updatedProduct = null
            updatedProduct = this.products.findIndex(product => {
              return product._id === productID
            })
            this.products[updatedProduct].quantity = quantity
            // Si se esta añadiendo el producto al carrito, realizar POST request
            // para actualizar el carrito
            if(isBeingAdded) {
              axios.post('/cart/add', { product_id: productID })
                .then(response => {
                  console.log(response.data);
                })
                .catch(error => {
                  console.log(error);
                })
            }
          },
          deleteProduct(productID) {
            let productToDelete = null
            productToDelete = this.products.findIndex(product => {
              return product.id === productID
            })
            this.products.splice(productToDelete, 1);
            // Realizar POST request para actualizar el carrito
            // y remover el producto
            axios.post('/cart/remove', { product_id: productID })
                .then(response => {
                  console.log(response.data);
                })
                .catch(error => {
                  console.log(error);
                })
          },
          deleteAll() {
            this.products = []
            axios.post('/cart/remove/all')
                .then(response => {
                  console.log(response.data);
                })
                .catch(error => {
                  console.log(error);
                })
          },
          logout() {
            axios.get('/logout').then(res => {
              window.location.href = "/";
            })
          }
        },
        computed: {
          total() {
            let totalPrice = 0
            this.products.forEach(product => {
              totalPrice += product.cost * product.quantity
            })
            return totalPrice
          }
        },
        created() {
          // The GET request will later be substituted with a user-specific endpoint 
          // within the API to retrieve its shopping cart
          // cart.json is a mock JSON file with a list of products
          axios.get('/cart/user')
            .then(response => {
              this.products = response.data.products
              this.user = response.data.user
              this.isLoading = false
            })
            .catch(error => {
              console.log(error)
            })
        }
      })
    </script>
  </body>
</html>
